/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1,3;
    background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html { scroll-behavior: smooth; }
// ALL VARIABLES


// colors
$wcolor:#ffffff;
$bcolor:#000000;
$rcolor: #ff0000;
$dcolor: rgb(169, 169, 169);

// end of colors

// dimensions
$h:100%;
$w:100%;
$ha: auto;
$wd: 50%;
$wd1: 95%;
$sw2:90%;
// end of dimensions 

// positions
$ab: absolute;
$re: relative;
$st: static;
$fi: fixed;
$r: 0px;
$objfit: contain;
// end of positions

// cursor
$curs: pointer;
// end of cursor

// padding
$pad: 10px;
$padd: 15px;
$paddd: 20px;
$paddi: 51px;
// end of padding

// display
$fl:flex;
$dblock: block;
$fldc:column;
$fldr:row;
$wrap: wrap;
$justspb: space-between;
$justspe: space-evenly;
$justc: center;
$align: center;
$talign: center;
$overf: hidden;
// end of display

// margins
$aut: 0 auto;
// end of margins

// decorations
$tedeco: none;
$liyle: none;
//  end of decorations

// font sizes
 $fosm: 10px;
 $fomed: 15px;
 $fomed2: 18px;
 $fomed3: 20px;
 $fomed4: 25px;
 $fomed5: 30px;
 $fomed6: 35px;
//  end of font sizes

// END OF VARIABLES


  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
// End of slide

 
header{ display: flex; align-items: center;   justify-content: space-between; background: transparent; z-index: 20; right: 0;
        .humburger{  padding: 200px 80px 20px 7px ; position: absolute;right: 0; z-index: 70;
                span{  width: 30px; height: 3px; border-radius: 20px; background-color: transparent; position: absolute; transition: all 0.7s ease;
                    &:before{ right: -15px; height: 5px; width: 25px; background-color: #ffffff; content: ""; position: absolute; border-radius: 20px; top: 2px; transition: all 0.7s ease; }
                    &:after{ height: 5px; width: 45px; background-color: #ffffff; content: ""; position: absolute; top: -7px; border-radius: 20px; transition: all 0.7s ease; }
                }
        }    
        .open{  
            span{   background: transparent;
                &::before { width: 45px; top: 0; transform: rotate(495deg); background-color: #000000;}     
                &::after { top: 0; transform: rotate(-495deg); background-color: #000000;}
                }
        }
        .menu{  position: absolute;  background:#ffffff; width: 100%; max-width: 0%; height: 100vh; overflow: hidden; right: 0;top: 0;  transition: all 0.7s ; display: flex; flex-direction: column; margin: 0 auto; align-items: center; justify-content: center;z-index: 25;
             li{ list-style: none;text-align:left; 
                 a{ text-decoration: none; font-weight: bolder; display: block; padding: 20px 20px 20px 0px; color: #000000; font-size: 18px;font-family: 'monserrat'; 
                      &:hover { color: red;}
                  }
                }
        }
              .change{ max-width: 100%; }
    }
   
// END OF HEADER STYLE 


// hero style
.hero{ position: relative; height: 100vh;
        .hero-inner{   z-index: 1; color: $wcolor;height: 100%;
             img{ position: absolute; width: 180px;bottom: -40px; right: 5%; cursor: pointer; z-index: 54; transition: all 0.7s ease;}
                .intro{ text-align: left;   flex-direction: column; position: absolute; bottom: 151px; left: 30px; width: 90%; margin-top:  50%;  
                        h1{  text-align: left; font-size: 45px; font-weight: bolder; padding: 0px 80px 20px 0px ; font-family: 'avenir-bold';}
                        p{ text-align: left;font-style: normal; font-size: 18px; font-family: 'monserrat'; line-height: 1.3em; }               
                }
                      }
               #background-video {width: 100%;  object-fit: cover; position: absolute;  left: 0; right: 0; top: 0;  height: 100vh;z-index: -1;  }
      }
// end of hero style


// about us style
.about{ justify-content: space-between; margin: 40px auto; justify-content: center; align-items: center; width: 100%; 
         h2{ padding-top: 20px; opacity: 0.5; font-family: 'avenir-bold'; font-weight: bolder;  }
            .info{ margin-bottom: 50px; padding-right: 0px;
                     h2{ font-size: 50px; color: #E1E1DF; margin-bottom: 15px; font-family: 'avenir-bold';  }
                     p{ color: $wcolor; line-height: 1.5em; font-size: 16px; font-family: 'monserrat'; }
                 }
            .info1{ margin-right: 20px;
                     img{ width: 25px; margin-top: 50px; margin-bottom: 10px;}
                      h6{ font-size: 16px; color: $wcolor; margin-bottom: 15px; font-family: 'monserrat';  }
                      p{  font-style: italic;  font-size: 17px; color: $wcolor; font-family: 'avenir-bold'; }
                    }
     }
// end of about us style


// Data section style
.state{ margin-bottom: 50px; margin-top: 50px;
        h2{ font-size: 50px; color: #E1E1DF; font-weight: bolder; opacity: 0.5;  margin-bottom: 20px; font-family: 'avenir-bold'; }
        h4{  font-size: 20px; color: $wcolor; line-height: 1.5em; font-weight: bold;   margin-bottom: 20px; font-family: 'avenir-bold'; }
        p{ font-size: 16px; color: $wcolor; line-height: 1.2em; font-family: 'monserrat'; }
      }
.illustrations{ margin-bottom: 70px; display: flex; flex-wrap: wrap;  margin: 0 auto; display: flex; flex-direction: column; 
    #carr,#carr2,#car2,#car4{ margin-bottom: 20px; }
    .c1{ background-color: #ffffff;   border-radius: none; 
        h2{ font-size: 50px; color: #474746; padding: 20px;  font-family: 'avenir-bold';font-weight: bolder;}
        p{color: $bcolor; margin-bottom: 10px; font-size: 12px; padding: 12px; font-family: 'monserrat'; }

       }

    .c2{ background-color: #ffffff;  border-radius: none;  
        h2{ font-size: 50px; color: #474746; padding: 20px; font-family: 'avenir-bold'; font-weight: bolder; }
        p{color: $bcolor; margin-bottom: 10px; font-size: 12px; padding: 12px;font-family: 'monserrat'; }
    }
    #carr2{ margin-bottom: 20px;}
    .card2{ margin-top: 1px; 
    .c3{ background-color: #ffffff;  border-radius: none;
        h2{ font-size: 50px; color: #474746; padding: 20px; font-family: 'avenir-bold';  font-weight: bolder;}
        p{color: $bcolor; margin-bottom: 10px; font-size: 12px; padding: 12px;font-family: 'monserrat';  }
       }

    .c4{ background-color: #ffffff;   border-radius: none;  
        h2{ font-size: 50px; color: #474746; padding: 20px; font-family: 'avenir-bold'; font-weight: bolder;}
        p{color: $bcolor; margin-bottom: 10px; font-size: 12px; padding: 12px;font-family: 'monserrat';  }
       }
   }

}
// end of data style


// services style
.services{  margin: 20px 0px;
     #bg-video {width: 100%; transform: translateY(67px);   left: -19px; z-index: -2;  }
            .serv{ margin-bottom: 30px; margin-top: 40px; position: relative ;z-index: 3;
                    h2{ font-size: 50px; font-weight: bolder; color: #E1E1DF; opacity: 0.7;  margin-bottom: 20px;font-family: 'avenir-bold'; }
                     h3{ margin-top: 30px; font-size: 24px; color: #ffffff; font-weight: bold;  padding-bottom: 15px;font-family: 'avenir-bold'; }
                     p{  font-size: 16px; line-height: 30px;  color: #ffffff;font-family: 'monserrat';  }
                 }
                 
                .flex1{  margin-top: 40px; margin-bottom: 20px;}
                .image{
         img{ width: 80%;  cursor: pointer;}
      }


        }
        // end of services style


// projects style

.title{

    .slick-dots{ width: 120px; position: absolute; bottom: 55px; left: 79px;
             
              li{  width:15px;height:8px;border-radius:26px;transition:all 0.7s ease;background:#ffffff;
                  button{ border: none;                    
                      &:before{
                          font-size:0;
                      }                     
                  }             
            }
            .slick-active{width:40px;
                
            }
              }
              slick-slide-control01:active{
                width: 90px;
            }            

.tittle{   margin: 150px 0px 30px 0;
        h2{  font-size: 50px; font-weight: bolder; opacity: 0.5; color: #E1E1DF; font-family: 'avenir-bold'; }
        h5{  font-size: 20px; font-weight: bold; color: #ffffff; padding-top: 19px; padding-bottom: 15px;font-family: 'avenir-bold'; }
        p{ color: #ffffff; padding-bottom: 10px; line-height: 1.5em;  font-family: 'monserrat'; }

         .proj{  margin-top: 8%;}
                .underLine{ position: relative ;
                             a{ color: #ffffff; text-decoration: none; cursor: pointer ;font-family: 'monserrat';  &:hover{color: red;}   }
                             ul{ width: 190px; height: 20px; margin-top: 10px;
                             li{ width: 100%; background-color: #ffffff; height: 2px; }
                               }
                          }
                          #w{ bottom: -39px;}
                          .num{ width: 20px; position: relative;
                            p{ 
                                font-size:27px; 
                              
                                span{ font-size: 23px; font-weight: 100;}
                            }
                        }                                                
        }
    .laptop{   display: none;
        img{  width: 90%; cursor: pointer; margin-bottom: 40px;}
           }
           .button{
                button{ width: 7px; height: 7px; border-radius: 20px; border: none;font-family: 'monserrat';  background-color: #ffffff; 
                &:active{ width: 50px; }    
                }
           }
        }
//  end of project style


// details style
.detail{ margin-bottom: 17px;
    .details{  margin-bottom: 80px;
        h2{ color: #E1E1DF; font-weight: bolder; opacity: 0.5; font-size: 50px; margin-bottom: 20px;font-family: 'avenir-bold';  }
        .det1{
            p{ color: #ffffff; font-size: 16px;font-family: 'monserrat'; }
          
            h4{ color: #ffffff; margin-top: 5px; font-size: 23px; margin-bottom: 30px; cursor: pointer;font-family: 'avenir-bold'; }
        }
        .det2{

            p{ color: #ffffff; font-size: 16px;font-family: 'monserrat'; }
            a{ text-decoration: none;
            h4{ color: #ffffff; margin-top: 5px; font-size: 23px; margin-bottom: 30px; cursor: pointer;font-family: 'avenir-bold'; }
        }
        }
        .det3{
            p{color: #ffffff; font-size: 16px;font-family: 'monserrat'; }
            a{ text-decoration: none;
            li{ color: #ffffff; margin-top: 5px; font-size: 22px; margin-bottom: 20px; margin-left: 0px; cursor: pointer;font-family: 'avenir-bold'; }
        }
        }
        
    }   

:focus{outline: none}
.form{ width: 97%;
    h2{  font-size: 35px; color: #ffffff;  margin-top: 4px; margin-bottom:30px ;font-family: 'monserrat';}

   form{ width: 100%;  display: flex; flex-direction: column; color: #ffffff; 
    .form-item{ position: relative; margin-bottom: 15px ; width: 100%;
        input{  color: #ffffff; font-family: 'monserrat'; background-color: transparent; border-top: none; border-left: none; border-right: none; margin-top: 16px; margin-bottom: 10px; padding-bottom: 30px;  font-weight: 500;  transition: all .3s ease; width: 100%; 
        &:focus{ border-top-color: transparent}
        &::spelling-error{  text-decoration: wavy red;}
        &:required:invalid { color: #c00000; }
        }
        .text-area{ color: #ffffff;  font-family: 'monserrat';background-color: transparent;  resize: none; border-top: none; border-left: none; border-right: none; margin-top: 16px; margin-bottom: 10px; padding-bottom: 30px;   width: 100%; 
            &:focus{ border-top-color: transparent}
        }
        label{ position: absolute;cursor: text;  font-size: 12px; left: 10px;  color: #ffffff;  transition: all .3s ease; z-index: 2;}
       }
       input,label{
        font-family: 'monserrat';
    }
       
       button{background-color: #ffffff; width: 100%;  height: 40px; border: none; font-family: 'monserrat';  margin: 15px auto ; &:hover { background-color: red;}}
   }
}
.form-item label{ 
  top: 13px;  
}
.form-item input:focus + label, 
.form-item input:valid + label{ font-size: 7px;  top: -5px; left: -5px;
}
.form-item textarea:focus + label, 
.form-item textarea:valid + label{ font-size: 7px;  top: -5px; left: -5px;
}
} 
// end o details style


// footer style
footer{  margin-top: 30px; width: 100%;
    .log{  width: 55%; margin: 0 auto; left: 30%; justify-content: center;
        img{ width: 64%; padding: 0px; cursor: pointer; position: relative ; margin: 0 auto; left: 20%;}
     }
 .list { width: 100%;
     ul{display: flex; width: max-content; padding-bottom: 30px; width: 100%; margin: 0 auto; justify-content: center; }
         li{  text-decoration: none; color: #ffffff;  padding: 2px; width: max-content;
                  
        a{ color: #ffffff; font-size: 87%; text-decoration: none;font-family: 'monserrat';  &:hover{ color: red; cursor: pointer;  }}
     }
  }
}
// end of footer style



// MEDIA QUERRY

// 568PX
  @media (min-width: 568px){

.hero{ justify-content: center ; align-items: center; margin: 0 auto; 
    .hero-inner{  justify-content: center ; align-items: center; margin: 0 auto; 
        // img{ bottom: 2px;}
        .intro{ bottom: 120px; left: 30px;
            h1{ padding-bottom: 10px;  font-weight: 700;}
            p{  font-size: 18px; padding: 0 20px;}
        }
    }
}

.illustrations{ display: flex; flex-wrap: wrap;
// #carr{ max-width: 50%;}
// #carr2{max-width: 50%;}
// #car2{max-width: 50%;}
// #car4{max-width: 50%;}


}
.detail{ margin-bottom: 5px;}
 footer{ display: flex; justify-content: center; margin: 0 auto; align-items: center;
    .log{ width: 30%; 
    img{ width: 100%;}
    }
.list{ 
    ul{  width: 100%; padding-top: 5%; text-align: center; margin: 0 auto; justify-content: center;
    li{   font-size: 15px; justify-content: space-between; 
    
    }
    }
}
}
  }
// END OF 568PX

//  768PX
  @media (min-width: 768px){
header{
    .humburger{ padding: 190px 122px 20px 7px;}  
    .menu{ height: 660px;} 
} 
    .hero{   height: 660px;
        #background-video { height: 660px;}
        .hero-inner{
                img{ bottom: 10px;}
            .intro{ left: 30px;  bottom: 289px; width: 85%;
                h1{ padding-bottom: 10px; font-weight: 700; font-size: 40px;}
                p{  font-size: 20px; }
            }
        }
    }
    .services #bg-video{ transform: translateY(250px);}
    .tittle{
        .laptop{ display: block; margin-top: 90px; width: 100%;}
    }

//  .services{ #bg-video {width: 70%;  position: absolute;  left: 30%;  top: 300;  height: auto;z-index: -2;  }}
.illustrations{
    #carr,#carr2{ margin-bottom: 10px; width: 200px; margin-left: auto; margin-right: 0;
        p{font-size:11px;}
    }
    #car2,#car4{margin-bottom: 20px; width: 200px; margin-left: 0; margin-right: auto;
        p{font-size:11px;}
    }
    #carr{ max-width: unset;}
    #carr2{max-width: unset;}
    #car2{max-width: unset;}
    #car4{max-width: unset;}
    
    
    }
.detail{ margin-bottom: 8px;}
 footer{ display: flex;  margin: 0 auto; justify-content: center;align-items: center;
    img{  margin-bottom: -20px;}
    ul{ display: flex; margin: 0 auto; justify-content: center; align-items: center; text-align: center; padding-top: unset; 
    li{ padding-left: 20px;
        a{ font-size: 20px; padding-left: 30px;}
    }
    }

 }
}
// END OF 768PX


// 992PX
@media (min-width: 992px){  
        header{
            .humburger{ padding: 170px 100px 20px 10px} 
            // .menu{height: 668px;}   
        }

    .hero{  height: 660px;
        #background-video { height: 660px;}
        .hero-inner{
            img{ bottom: 10px;}
            .intro{ left: 20px;  bottom: 230px;
                h1{ padding-bottom: 10px; font-weight: 700; font-size: 45px;}
                p{ font-size: 25px; margin-right: 265px;}
            }
        }
    }
    .about{ padding: 120px 0px; width: 100%;
    .info1{ margin-top: 30px;}
    }
    .services #bg-video{ transform: translateY(162px);}
    .tittle{
        .laptop{margin-top: 90px;}
    }

    footer{ display: flex;
        ul{  width: unset; margin: 0 auto;  align-items: center; text-align: center;
            li{  margin: 0 2%;font-size: 18px;  justify-content: center; }
        }


    }
}
// END OF 992PX

// 1200PX
@media (min-width: 1200px){ 

  header{
    .humburger{ margin-right: 80px;margin-top: 1px;}
    .menu{  height: 100vh;}
  }
    .hero{height: 100vh;
        #background-video{ height: 100vh;}
        .hero-inner{
                    img{ width: 200px; bottom: -5px; right: 128px; }
            .intro{ left: 100px;  bottom: 209px; width: 700px;
                h1{ padding-bottom: 15px; font-weight: 700; font-size: 68px; text-align: left ; left: 0px;}
                p{  font-size: 21px; width: 81%; padding-left: 0;}
            }
        }
    }
    .services #bg-video{ transform: translateY(116px);}
    
    footer{   display:  flex; flex-direction: row;
        ul{ width: 62px; padding-top: 20%;
            li{ margin: 0px;}
        }
        .list{ padding-top: 70px;} 
        .log{position: absolute; left: 3%; width: 180px;
        img{ bottom: -50px;}
        }
    }
}
// END OF 1200PX

// END OF MEDIA QUERRYJ






